-- 1. Adicionar colunas faltantes na tabela seasonal_layouts
ALTER TABLE seasonal_layouts
ADD COLUMN IF NOT EXISTS hero_title TEXT,
ADD COLUMN IF NOT EXISTS hero_subtitle TEXT,
ADD COLUMN IF NOT EXISTS hero_cta_text TEXT,
ADD COLUMN IF NOT EXISTS hero_bg_color TEXT DEFAULT '#000000',
ADD COLUMN IF NOT EXISTS hero_text_color TEXT DEFAULT '#FFFFFF',
ADD COLUMN IF NOT EXISTS start_date DATE,
ADD COLUMN IF NOT EXISTS end_date DATE;

-- 2. Inserir layouts sazonais pré-configurados
